@font-face {
  font-family: 'Wycop';
  src: url('./Wycop.woff?v=0.1.5') format('woff'),
       url('./Wycop.ttf?v=0.1.5') format('truetype'),
       url('./Wycop.svg?v=0.1.5#Wycop') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wycop {
  display: inline-block;
  font: normal normal normal 14px/1 Wycop;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.wycop-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
}
.wycop-stack-1x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: inherit;
}

.wycop-wykop:before { content: "\f1f8"; }
.wycop-karachan:before { content: "\f1f9"; }
.wycop-papiez:before { content: "\f1fa"; }
.wycop-bartoszewski:before { content: "\f1fb"; }

.wycop-vi1:before { color: #a8fda8; content: "\f1fc"; }
.wycop-vi2:before { color: #a8dc86; content: "\f1fd"; }
.wycop-vi3:before { color: #fc992e; content: "\f1fe"; }
.wycop-vi4:before { color: #df6b63; content: "\f1ff"; }
.wycop-vi5:before { color: #5597bb; content: "\f200"; }
.wycop-vi6:before { color: #5ed15d; content: "\f201"; }
.wycop-vi7:before { color: #9603e9; content: "\f202"; }
.wycop-vi8:before { color: #6fc736; content: "\f203"; }
.wycop-vi9:before { color: #36c76f; content: "\f204"; }
.wycop-vi10:before { color: #535899; content: "\f205"; }
.wycop-vi11:before { color: #2c3649; content: "\f206"; }
.wycop-vi12:before { color: #215400; content: "\f207"; }

